

<div class="demo-wrapper">
  <div class="demo-container">
    <video controls>
      <source src="../media/asteroids.mp4" type="video/mp4">
      Your browser does not support HTML5 video
    </video>
    <div class="demo-description">
      This is a project from my early days of programming. 
      It's a relatively crude version of Asteroids implemented 
      in Java using the standard graphics and audio libraries. 
      The controls are choppy, the animation not smooth. 
      It was implemented over the course of a 4 day weekend 
      as a exercise of amateur speed-coding.
    </div>
  </div>

  <div class="demo-directory">
    <div class="left-demo"></div>
    <div class="right-demo"></div>
  </div>

</div>

<script src="../js/demo.js"></script>
