<!-- navigator bar -->

<div class="navbar-header" ng-controller="docCtrl">
  <div class="navbar-inner">
    <a class="subject-name" href="/">Trey Amador</a>
    <nav class="directory">
      <a class="red-hover" href="/about">About</a>
      <a class="orange-hover" href="/cengine">Demo</a>
      <a class="yellow-hover pointer" ng-click="open_pdf()">Resume</a>
      <a class="green-hover" href="https://github.com/TreyAmador">Github</a>
      <a class="blue-hover" href="/blog">Blog</a>
      <a class="purple-hover" href="/contact">Contact</a>
    </nav>
  </div>
  <div class="navbar-shadow"></div>
</div>
