
@font-face {
    font-family: OpenSans;
    src: url("../deps/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Charmonman;
    src: url("../deps/Charmonman-Regular.ttf");
}

@font-face {
    font-family: Dancing;
    src: url("../deps/DancingScript-Regular.ttf");
}

body {
    margin: 0; padding: 0; 
    display: none; overflow: hidden;
}

::selection {
    background: #000000;
}

.page-container {
    position: relative; vertical-align: middle;
    left: 20%; right: 80%; width: 60%; 
    top: 10%; bottom: 90%; height: 60%;
}

.name-container .name-placard {
    position: relative; text-align: center;
    font: 10em Dancing, serif; color: #cccccc;
    transition: color 500ms ease;
    white-space: nowrap;
}

.name-container .name-placard:hover {
    color: #000000;
}

.nav-container {
    text-align: justify;
    text-justify: distribute-all-lines;
    -ms-text-justify: distribute-all-lines;
}

.nav-container:after {
    content: ''; width: 100%;
    display: inline-block;
}

.nav-container span a {
    position: relative; z-index: 2;
    font: 3em serif; color: #000000;
    text-decoration: none; 
    transition: color 500ms ease;
}

.nav-container .demo-entry {
    z-index: 3;
}

.nav-container .demo-entry, .resume-entry, .github-entry a:hover {
    color: #222222;
}

.desc-container .desc-body {
    position: relative; left: 20%; width: 60%;
    text-align: justify; text-justify: inter-word;
    padding: 2em 0em 2em 0em; z-index: 2;
    font: 1.5em serif; color: #000000;
}
