<!-- about page html -->

<html lang="en">
  <head><% include ./partials/head.ejs %></head>
  <body ng-app="personal">
    <header><% include ./partials/header.ejs %></header>

    <div class="about-wrapper" ng-controller="docCtrl">
      <div class="self-description">
        <div class="self-portrait"></div>
        <div class="description-wrapper">
          <div class="col-1">
            Hello, my name is Trey Amador. 
            I am a Masters student in computer science 
            and freelance programmer. 
            I graduated <span>summa cum laude</span> 
            from UC Riverside, 
            with ample experience in biology research. 
            My programming experience includes knowledge of 
            the C and C++, Python, JavaScript, and Java languages. 
          </div>
          <div class="col-2">
            The disciplines explored in the demo projects 
            herein run the gambit from 
            physics, vector mathematics, robotics, 
            trigonometry, audio compression, 
            matrix mathematics, data analysis, 
            web development, game development, 
            online data collection, webscraping, etc...
            <br><br>
          </div>
        </div>
      </div>
      <div class="resume-directory">
        <nav>
          <a class="resume green-hover" ng-click="open_pdf('resume')">pdf resume</a>
          <a class="nih blue-hover" ng-click="open_pdf('nih')">research article 1</a>
          <a class="ugrj purple-hover" ng-click="open_pdf('ugrj')">research article 2</a>
        </nav>
      </div>
    </div>

  </body>
</html>
