
<!doctype html>
<html lang="en">
  <head><% include ./partials/head.ejs %></head>
  <header><% include ./partials/header.ejs %></header>
  <body>
    <div class="construction-wrapper">
      <div class="construction-description"><%= constructor %></div>
    </div>
  </body>
</html>

