
<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
    <title>Blog | Trey Amador</title>
  </head>
  
  <body ng-app="personal">
    <header><% include ./partials/header.ejs %></header>
    <div class="construction-wrapper">
      <div class="construction-description"><%= constructor %></div>
    </div>
  </body>
</html>
