<!-- contact page html -->


<!DOCTYPE html>
<html lang="en">
  <head><% include ./partials/head.ejs %></head>
  <body>
    <!--
    <header><% include ./partials/header.ejs %></header>
    -->
    <div class="message-wrapper">
      <div>Get in touch.</div>
      <form class="input-list" action="/contact" method="post">
        <div>
          <input type="text" name="msg-username" placeholder="Name">
        </div>
        <div>
          <input type="text" name="msg-subject" placeholder="Subject">
        </div>
        <div>
          <input type="text" name="msg-email" placeholder="E-mail (optional)">
        </div>
        <div>
          <textarea name="msg-textbody" placeholder="Message"></textarea>
        </div>
        <div>
          <input type="submit" value="Send">
        </div>
      </form>
      <div><%= submit_status %></div>
    </div>
    
  </body>
</html>

