<!-- home page html -->

<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
    <title>Trey Amador</title>
  </head>
  <body ng-app="personal">
    <header><% include ./partials/header.ejs %></header>
    <div class="home-page">
      <div class="home-wrapper">

        <!--
        <div class="home-directory-outer">
          <nav class="home-directory">
            <a href="/cengine" name="cengine-anchor">game engine</a>
            <a href="/trader" name="trader-anchor">broncocorner</a>
            <a href="/asteroids" name="asteroids-anchor">asteroids</a>
            <a href="/robot" name="robot-anchor">robotic sim</a>
            <a href="/drum" name="drum-anchor">drum machine</a>
          </nav>
        </div>
        -->

        <div class="centerpiece">
          <div class="me">TREY AMADOR</div>
          <div class="square"></div>
          
          
        </div>


        <div class="grid-container">



          <!--
          <div class="entry-handle cengine-handle top-align">
            <div class="entry-image cengine-image">
              <a class="cengine">
                <div class="entry-placard"></div>
              </a>
            </div>
            <div class="entry">
              <div class="entry-title">Game engine</div>
              <div class="entry-description">
                <span class="language">in C++</span>
                <span class="date"> made 2016</span>
              </div>
              <div class="entry-textbody">
                Game engine implemented in C++ with Simple DirectMedia Graphics Layer. 
                Based on physical principles.  It's a nice little system. 
                It gets the job done. You have to love it. You have to live it. 
                Press play, and your life will evolve. Elevate.  Elate!
              </div>
            </div>
          </div>

          <div class="entry-handle trader-handle left-align">
            <div class="entry-image trader-image">
              <a class="trader">
                <div class="entry-placard"></div>
              </a>
            </div>
            <div class="entry">
              <div class="entry-title">BroncoCorner.com</div>
              <div class="entry-description">
                <span class="language">MEAN stack</span>
                <span class="date">made 2016</span>
              </div>
              <div class="entry-textbody">
                Trading service aimed at college students. 
                Gets you lots of commodities. Mutual exchange of goods and services. 
                Thus is the system we live in, Capitalism. 
                We're teaching college kids to be little Monopoly Men. 
                Nothing wrong with mutual enrichment. 
              </div>
            </div>
          </div>

          <div class="entry-handle robot-handle right-align">
            <div class="entry-image robot-image">
              <a class="robot">
                <div class="entry-placard"></div>
              </a>
            </div>
            <div class="entry">
              <div class="entry-title">Robotics simulations</div>
              <div class="entry-description">
                <span class="language">in C++</span>
                <span class="date"> made 2017</span>
              </div>
              <div class="entry-textbody">
                Robots. Need I say more?  
                I will anyway.  These are robotics simulations 
                in the Linux Player/Stage program. 
                Very fun. Lots of vectors.  Geometry. 
                People that say they will never use math 
                don't really strive, do they? 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Repudiandae inventore vitae at consectetur ut maxime, nihil esse! 
                Provident, quam, aliquid! Nostrum id atque 
                dolores maiores ipsam optio iure porro nulla. 
              </div>
            </div>
          </div>
          
          <div class="entry-handle asteroids-handle left-align">
            <div class="entry-image asteroids-image">
              <a class="asteroids">
                <div class="entry-placard"></div>
              </a>
            </div>
            <div class="entry">
              <div class="entry-title">Asteroids Clone</div>
              <div class="entry-description">
                <span class="language">in Java</span>
                <span class="date"> made 2016</span>
              </div>
              <div class="entry-textbody">
                A clone of asteroids implemented in Java. 
                A weekend project. Fun time. 
              </div>
            </div>
          </div>

          <div class="entry-handle drum-handle top-align">
            <div class="entry-image drum-image">
              <a class="drum">
                <div class="entry-placard"></div>
              </a>
            </div>
            <div class="entry">
              <div class="entry-title">Rhythm Generator</div>
              <div class="entry-description">
                <span class="language">in C++</span>
                <span class="date"> in development</span>
              </div>
              <div class="entry-textbody">
                A drum machine that makes funky beats. 
                Great making funky beats. 
              </div>
            </div>
          </div>
          -->



        </div>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="footer-inner">
        <span class="copyright">&copy 2017 Trey Amador</span>
        <span class="email-contact">email at tmamador@cpp.edu</span>
      </div>
    </div>

  </body>
</html>
