<!-- home page html -->

<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
    <title>Trey Amador</title>
  </head>
  <body ng-app="personal">
    <header><% include ./partials/header.ejs %></header>
    <div class="home-page">


      


    </div>
  </body>
</html>
