<!-- home page html -->

<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
    <title>Trey Amador</title>
  </head>
  <body ng-app="personal">
    <header><% include ./partials/header.ejs %></header>
    <div class="home-page">


      <div class="intro-banner">
        <div class="introduction">
          Hello, welcome to the website of Trey Amador, 
          where you can see programming projects.
        </div>
      </div>


    </div>
  </body>
</html>
