<!-- home page html -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
    <title>Trey Amador</title>
  </head>
  <body ng-app="personal">
    <header><% include ./partials/header.ejs %></header>

    <div class="home-page">
      <div class="home-wrapper">

        <div class="home-directory-outer">
          <nav class="home-directory">
            <a href="/cengine" name="cengine-anchor">game engine</a>
            <a href="/trader" name="trader-anchor">broncocorner</a>
            <a href="/asteroids" name="asteroids-anchor">asteroids</a>
            <a href="/robot" name="robot-anchor">robotic sim</a>
            <a href="/drum" name="drum-anchor">drum machine</a>
          </nav>
        </div>
        
        <div class="grid-container">


          <div class="entry-handle top-align">
            <div class="entry-image cengine-image"></div>
            <div class="entry">
              <div class="entry-title">
                Game engine
              </div>
              <div class="entry-description">
                <span class="language">in C++</span>
                <span class="date"> made 2016</span>
              </div>
              <div class="entry-textbody">
                Game engine implemented in C++ with Simple DirectMedia Graphics Layer. 
                Based on physical principles.  It's a nice little system. 
                It gets the job done. You have to love it. You have to live it. 
                Press play, and your life will evolve. Elevate.  Elate!
              </div>
            </div>
          </div>


          <!--
          <div class="entry-handle top-align">
            <div class="cengine">
              <a href="/cengine" id="cengine-anchor">
                <div class="entry-placard"></div>
              </a>
            </div>
            <div class="entry-banner">
              A C++ game engine
            </div>
            <div class="entry-description">
              Game engine implemented in C++ with Simple DirectMedia Graphics Layer. 
              Based on physical principles.  It's a nice little system. 
              It gets the job done. You have to love it. You have to live it. 
              Press play, and your life will evolve. Elevate.  Elate!
            </div>
          </div>
          -->

          <!--
          <div class="cengine entry-handle">
            <a href="/cengine" id="cengine-anchor">
              <div class="entry-placard"></div>
              <div class="entry-banner">
                <span class="header">engine</span>
                <span class="description">a C++ game engine with physics</span>
              </div>
            </a>
          </div>

          <div class="trader entry-handle">
            <a href="/trader" id="trader-anchor">
              <div class="entry-placard"></div>
              <div class="entry-banner">
                <span class="header">trading</span>
                <span class="description">a trading service for college students</span>
              </div>
            </a>
          </div>

          <div class="asteroids entry-handle">
            <a href="/asteroids" id="asteroids-anchor">
              <div class="entry-placard"></div>
              <div class="entry-banner">
                <span class="header">arcade</span>
                <span class="description">java arcade-style game</span>
              </div>
            </a>
          </div>

          <div class="robot entry-handle">
            <a href="/robot" id="robot-anchor">
              <div class="entry-placard"></div>
              <div class="entry-banner">
                <span class="header">robotics</span>
                <span class="description">path planning, navigation</span>
              </div>
            </a>
          </div>

          <div class="drum entry-handle">
            <a href="/drum" id="drum-anchor">
              <div class="entry-placard"></div>
              <div class="entry-banner">
                <span class="header">drum</span>
                <span class="description">rhythm generator in C++</span>
              </div>
            </a>
          </div>

          <div class="git entry-handle">
            <a href="https://github.com/TreyAmador">
              <div class="entry-placard"></div>
              <div class="entry-banner">
                <span class="header">github</span>
                <span class="description">see code samples here</span>
              </div>
            </a>
          </div>
          -->

        </div>
      </div>
    </div>
    <div class="footer-wrapper">
      made with Node.js, Express, jQuery
    </div>

  </body>

</html>

