/*
    stylesheet for resume
*/


.about-wrapper {
    position: relative;
    height: 1500px;
}


.introduction {
    position: relative;
    top: 7em;
    width: 75%;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.self-portrait {
    position: relative;
    border-radius: 50%;
    width: 30em;
    height: 30em;
    margin: 0 auto;
    background-size: 30em 30em;
    background-image: url("../img/self-washed-out.jpg");
}


.description-wrapper {
    position: relative;
    font-size: 1.3em;
    top: 1em;
    width: 100%;
    height: auto;
}


.col-1 {
    position: relative;
    float: left;
    padding: 0 1% 0 1%;
    width: 48%;
    height: auto;
}


.col-2 {
    position: relative;
    float: right;
    padding: 0 1% 0 1%;
    width: 48%;
    height: auto;
}


.resume-directory {
    position: absolute;
    top: 60em;
    left: 12em;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.resume-directory nav a {
    padding: 1em;
    text-decoration: none;
    color: #000000;
    transition: color 200ms ease;
}


.resume {
    position: relative;
    top: 2em;
}


.resume:hover {
    color: #dd6666;
}


.riverside {
    position: relative;
    top: 0em;
}


.riverside:hover {
    color: #ee9966;
}


.pomona {
    position: relative;
    top: 3em;
}


.pomona:hover {
    color: #ffee77;
}


.nih {
    position: relative;
    top: 5em;
}


.nih:hover {
    color: #88ee77;
}


.ugrj {
    position: relative;
    top: 6em;
}


.ugrj:hover {
    color: #77ccee;
}




