/*
    stylesheet for resume
*/


.introduction {
    position: relative;
    top: 7em;
    width: 75%;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.self-portrait {
    border-radius: 50%;
    width: 30em;
    height: 30em;
    margin: 0 auto;
    background-size: 30em 30em;
    background-image: url("../img/self-washed-out.jpg");
}


.description-wrapper {
    font-size: 1.3em;
    
}


.col-1 {
    float: left;
    padding: 0 1% 0 1%;
    margin: 0;
    width: 48%;
}


.col-2 {
    float: right;
    padding: 0 1% 0 1%;
    margin: 0;
    width: 48%;
}




/*
.about-wrapper div {
    position: relative;
    top: 0px;
    left: 0px;
}
*/



/*

body {
    height: 3000px;
}


.resume-wrapper {
    margin: 3em;
    background-color: white;
    z-index: 10;
}


.resume-wrapper h1 {
    left: 0;

    text-align: center;
}


.row {
    
}


.col-1 {
    float: left;
    text-align: left;
    margin: 0px;
    width: 20%;
}


.col-2 {
    float: left;
    text-justify: left;
    margin: 0px;
    width: 80%;
}


.resume-links div {
    
}


.resume-links div span {
    border-bottom: 1px solid rgba(0,0,0,0.0);
    transition: border 200ms ease;
}


.resume-links div span:hover {
    border-bottom: 1px solid rgba(255,165,00,1.0);
}




textarea, input {
    box-sizing: border-box;
    width: 300px;
}


.message-wrapper {
    position: relative;
    top: 2em;
    left: 2em;
    width: 25em;
    height: 15em;
    background-color: #dddddd;
}


.input-list {
    position: relative;
    
}


.input-list div {
    padding: 3px;
}


.input-list div input {
    display: block;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.input-list div textarea {
    display: block;
    height: 5em;
    resize: vertical;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*/

