/*
    home class stylesheet
*/


.home-page {
    position: static;
    height: 4400px;
    margin: 0;
    padding: 0;
    z-index: -100;
}


.home-directory-outer {
    position: relative;
    top: 6em;
    width: 90%;
    height: 20px;
}


.home-directory {
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 0em;
    left: 10%;
}


.home-directory a {
    text-decoration: none;
    padding: 10px;
    color: #000000;
}


.image-handle {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0.5em;
    background-size: 100% 100%;
}


.entry-handle {
    position: fixed;
}


.image-handle a {
    text-decoration: none;
}


.entry-placard {
    position: relative;
    height: 90%;
    width: 90%;
    top: 0;
    left: 10%;
    background-color: #ffffff;
    opacity: 0.0;
}


.entry-text {
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 2em;
    transform: rotate(270deg);
    transform-origin: left bottom;
}


.entry-title {
    font-size: 1.2em;
    font-weight: bold;
}


.entry-description {
    font-size: 1.2em;
}


.entry-headline {
    position: relative;
    left: 1em;
    bottom: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    color: #000000;
    opacity: 0.0;
}


.engine-entry {
    height: 40em;
    width: 40em;
    left: 20%;
    top: 20em;
}


.engine-entry-image {
    background-image: url("../img/cengine02.png");
}


.trader-entry {
    height: 30em;
    width: 42.8em;
    left: 40%;
    top: 75em;
}


.trader-entry-image {
    background-image: url("../img/corner04.png");
}


.robot-entry {
    height: 35em;
    width: 35em;
    left: 10%;
    top: 120em;
}


.robot-entry-image {
    background-image: url("../img/robosim.jpg");
}


.asteroids-entry {
    height: 30em;
    width: 44em;
    left: 50%;
    top: 130em;
}


.asteroids-entry-image {
    background-image: url("../img/asteroid02.png");
}


.drum-entry {
    height: 35em;
    width: 35em;
    left: 50%;
    top: 180em;
}


.drum-entry-image {
    background-image: url("../img/drums.jpg");
}


.git-entry {
    height: 300px;
    width: 300px;
    left: 30%;
    top: 230em;
}


.git-entry-image {
    background-image: url("../img/avatar.png");
}


.footer-outer {
    position: relative;
    width: 90%;
    height: 20px;
    top: 4300px;
}


.footer {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 30%;
}


.footer span {
    padding: 20px;
    
}


