/*
    home class stylesheet
*/



.home-page {
    position: static;
    height: 3000px;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: -100;
}


.image-handle {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0.5em;
    background-size: 100% 100%;
}


.entry-handle {
    position: fixed;
}


.entry-placard {
    position: relative;
    height: 90%;
    width: 90%;
    top: 0;
    left: 10%;
    background-color: #ffffff;
    opacity: 0.0;
}


.entry-text {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 2em;
    transform: rotate(270deg);
    transform-origin: left bottom;
}


.entry-title {
    font-size: 1.2em;
    font-weight: bold;
}


.entry-description {
    font-size: 1.2em;
}


.entry-headline {
    position: relative;
    left: 1em;
    bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #000000;
    opacity: 0.0;
}


.git-entry {
    height: 400px;
    width: 400px;
    left: 50%;
    top: 10em;
}


.git-entry-image {
    background-image: url("../img/avatar.png");
}


.git-entry-image a {
    text-decoration: none;
}


.engine-entry {
    height: 300px;
    width: 300px;
    left: 20%;
    top: 50em;
}


.engine-entry-image {
    background-image: url("../img/cengine.png");
}


.engine-entry-image a {
    text-decoration: none;
}





