/* home class stylesheet */

.home-page {
    position: relative;
    background-color: #ffffff;
    top: 98px; left: 0px;
    width: 100%;
}

.intro-banner {
    position: relative;
    font-family: OpenSans, 'Times New Roman', Times, serif;
    width: 100%;
}

.introduction {
    position: relative;
    font-size: 2.8em;
    margin: 3em 0em 3em 0em;
    width: 55%;
    left: 35%;
    line-height: 130%;
}

.introduction span {
    transition: color 500ms ease;
    -webkit-transition: color 500ms ease;
}

.introduction span:hover {
    color: #ff66cc;
}

.entries {
    position: relative;
    top: 0; left: 3%;
    width: 94%; height: 1600px;
    clear: both;
    z-index: 5;
}

.left-col {
    position: absolute;
    top: 0; left: 0;
    width: 50%; height: 100%;
}

.right-col {
    position: absolute;
    top: 0; left: 50%;
    width: 50%; height: 100%;
}

.left-col .entry {
    position: relative;
    margin: 30px 15px 0px 0px;
}

.right-col .entry {
    position: relative;
    margin: 30px 0px 0px 15px;
}

.col-padding {
    position: relative;
    width: 100%; height: 100px;
}

.entry-image {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; height: 100%;
}

.entry-placard {
    position: absolute;
    background-color: #000000;
    opacity: 0.0;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

.entry-headline {
    position: absolute;
    font-family: OpenSans, 'Times New Roman', Times, serif;
    bottom: 0px; left: 5%;
    width: 90%;
    color: #ffffff;
}

.entry-headline .project {
    position: absolute;
    font-size: 1.8em;
    bottom: 10px;
    opacity: 0.0;
}

.entry-headline .language {
    position: absolute;
    font-size: 1.3em;
    bottom: 10px;
    opacity: 0.0;
}

.entry-cengine {
    height: 600px;
}

.cengine-image {
    background-image: url("../img/cengine05.png");
    background-position: 50% 50%;
}

.entry-drum {
    height: 300px;
}

.drum-image {
    background-image: url("../img/audiograph.png");
    background-position: 50% 50%;
}

.entry-trader {
    height: 400px;
}

.trader-image {
    background-image: url("../img/corner01.png");
    background-position: 50% 0%;
}

.entry-robot {
    height: 400px;
}

.robot-image {
    background: url("../img/player-stage.png");
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.entry-asteroids {
    height: 400px;
}

.asteroids-image {
    background: url("../img/asteroid01.png");
    background-position: 50% 100%;
}

.entry-git {
    height: 500px;
}

.git-image {
    background: url("../img/avatar_pattern.png");
    background-position: 50% 50%;
}

.home-footer-wrapper {
    position: relative;
    height: 100px; width: 100%;
    font-family: OpenSans, 'Times New Roman', Times, serif;
}

.home-footer {
    position: absolute;
    width: 70%; height: 70%;
    bottom: 0; left: 0;
    font-size: 1.5em;
    text-align: right;
}

.entry a {
    cursor: pointer;
}

::selection {
    background: #000000;
    color: #ffffff;
}

::-moz-selection {
    background: #ffffaa;
    color: #ffffff;
}
