/* stylesheet for navbar */


.navbar-header {
  position: fixed;
  top: 0px;
	width: 100%;
	height: 230px;
	background: #ffffff;
	z-index: 10000;
	overflow: hidden;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}


.navbar-header .navbar-inner {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
  text-decoration: none;
}


.navbar-header h1 a {
  text-decoration: none;
  color: #00fa9a;
  font-family: Verdana;
}


.directory {
  text-decoration: none;
}


.navbar-header h1,
.navbar-header nav {
	display: inline-block;
	position: relative;
}

.navbar-header h1,
.navbar-header nav a {
	line-height: 230px;
}

.navbar-header h1 {
	text-transform: uppercase;
	color: #333333;
	letter-spacing: 4px;
	font-size: 3em;
	margin: 0;
	float: left;
  text-decoration: none;
}

.navbar-header nav {
	float: right;
}

.navbar-header nav a {
	color: #aaa;
	font-weight: 600;
	margin: 0 0 0 20px;
	font-size: 1.4em;
}

.navbar-header nav a:hover {
	color: #333;
}

/* Transitions and class for reduced height */
.navbar-header h1,
.navbar-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar-header.navbar-header-shrink {
	height: 90px;
}

.navbar-header.navbar-header-shrink h1,
.navbar-header.navbar-header-shrink nav a {
	line-height: 90px;
}

.navbar-header.navbar-header-shrink h1 {
	font-size: 2em;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {
	
	.navbar-header .navbar-inner {
		width: 100%;
	}

	.navbar-header h1,
	.navbar-header nav {
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.navbar-header h1,
	.navbar-header nav a {
		line-height: 115px;
	}

	.navbar-header nav a {
		margin: 0 10px;
	}

	.navbar-header.navbar-header-shrink h1,
	.navbar-header.navbar-header-shrink nav a {
		line-height: 45px;
	}

	.navbar-header.navbar-header-shrink h1 {
		font-size: 2em;
	}

	.navbar-header.navbar-header-shrink nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 32.25em) {
	.navbar-header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.navbar-header nav a,
	.navbar-header.navbar-header-shrink nav a {
		line-height: 1;
	}
}

