



.body-wrapper {
	position: absolute;
	left: 100px;
	top: 100px;
}


.home-page {
    position: static;
    height: 3000px;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: -100;
}


#parallax-element {
	position: fixed;
	top: 0px;
	
	width: 100%;
	height: 1000px;
	
	
	z-index: -1;
	background-image: url("../img/slow_down.jpg");
}


/*

#parallax-element {
    position: fixed;
    top: -300px;
    height: 1200px;
    width: 100%;
    z-index: -1;
    background-image: url("../img/mountain_road.jpg");
}

*/
/*
#parallax-element {
	background-image: url("../img/slow_down.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
	width: 100%;
	background-size: 100% auto;
	height: 800px;
	background-position: 0px 0px;
	top: 0px;
}
*/



.synopsis {
	font-family: Arial, sans-serif;
	position: relative;
	top: 4em;
	color: #333333;
	font-size: 1.5em;
	margin: 2em 2em;

}


.emphasize-name {
	border-bottom: solid thick;
	border-bottom-color: rgba(255, 182, 193, 0.8);
}


.emphasize-skill {
	color: #ffc0ce;
	font-style: italic;
}


.entry {
    position: relative;
    top: 100px;
    left: 100px;

}


.entry-git {
    position: relative;
    top: 100px;
    left: 100px;
    width: 20em;
    height: 20em;
    z-index: -1;
    color: rgba(255, 255, 255, 0.0);
}


.image-git {
    width: 100%;
    height: 100%;
    background-image: url("../img/avatar.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
     
}


.test-click {
    color: green;
}


.description {
    transform: rotate(270deg);
	transform-origin: bottom left;
    color: #000000;
	font-family: Arial, sans-serif;
	text-decoration: none;
	font-size: 0.9em;
}


.emphasize-description {
    font-weight: bold;
}


.unemphasize {
    text-decoration: none;
    color: #000000;
}









