

<div class="navbar-outer">

  <div class="navbar-home">
    <span>
      <a href="/"> Trey Amador </a>
    </span>
  </div>

  <div class="navbar-directory">
    <span class="navbar-demo">
      <a href="/demos"> Demos </a>
    </span>
    <span class="navbar-writing">
      <a href="/writing"> Writing </a>
    </span>
    <span class="navbar-about">
      <a href="/about"> About </a>
    </span>
    <span class="navbar-contact">
      <a href="/contact"> Contact </a>
    </span>
  </div>

</div>

