<!-- about page html -->


<div class="about-wrapper" ng-controller="aboutCtlr">



  <div class="introduction">
    <div class="self-portrait"></div>
    <div class="description-wrapper">
      <div class="col-1">
        Hello, my name is Trey Amador. 
        I am a Masters student in computer science 
        and freelance programmer. 
        I graduated <span>summa cum laude</span> 
        from UC Riverside, 
        with ample experience in biology research. 
        My programming experience includes knowledge of 
        the C and C++, Python, JavaScript, and Java languages. 
      </div>
      <div class="col-2">
        The disciplines explored in the demo projects 
        herein run the gambit from 
        physics, vector mathematics, robotics, 
        trigonometry, audio compression, 
        matrix mathematics, data analysis, 
        web development, game development, 
        online data collection, webscraping, etc...
        <br><br>
      </div>
    </div>
  </div>



  <div class="resume-directory">
    <nav>
      <a class="resume" ng-click="open_pdf('resume')" href="">resume pdf</a>
      <a class="riverside" ng-click="open_pdf('riverside')" href="">riverside transcript</a>
      <a class="pomona" ng-click="open_pdf('pomona')" href="">pomona transcript</a>
      <a class="nih" ng-click="open_pdf('nih')" href="">research 1</a>
      <a class="ugrj" ng-click="open_pdf('ugrj')" href="">research 2</a>
    </nav>
  </div>



</div>

