<!-- home page html -->


<div class="home-page">
  <div class="body-wrapper">


    <div class="git-entry">
      <div class="git-entry-image entry-handle">
        <a href="https://github.com/TreyAmador">
          <div class="entry-placard"></div>
          <div class="entry-headline">TreyAmador</div>
        </a>
      </div>
      <div class="entry-text">
        <span class="entry-title">github</span>
        <span class="entry-description">see work on github</span>
      </div>
    </div>


    <div class="engine-entry">
      <div class="engine-entry-image entry-handle">
        <a href="/demo">
          <div class="entry-placard"></div>
          <div class="entry-headline">Game Engine</div>
        </a>
      </div>
      <div class="entry-text">
        <span class="entry-title">game engine</span>
        <span class="entry-description">C++ game engine</span>
      </div>
    </div>



  </div>
</div>
<script src="js/home.js"></script>

