<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
    <title>Trey Amador</title>
  </head>
  <body ng-app="personal">
    <header><% include ./partials/header.ejs %></header>
    <div class="home-page" ng-controller="homeCtrl">
      <div class="intro-banner">
        <div class="introduction">
          Hello, my name is <span>Trey Amador</span>. 
          Welcome to my website.<br>
          Here you can see a portfolio of my programming projects. 
        </div>
      </div>
      <div class="entries">
        <div class="left-col">
          <div class="entry entry-cengine">
            <a href="/cengine">
              <div class="entry-image cengine-image"></div>
              <div class="entry-placard"></div>
              <div class="entry-headline">
                <div class="project">Game Engine</div>
                <div class="language">implemented in C++</div>
              </div>
              </a>
          </div>
          <div class="entry entry-drum">
            <a href="/drum">
              <div class="entry-image drum-image"></div>
              <div class="entry-placard"></div>
              <div class="entry-headline">
                <div class="project">Rhythm Generator</div>
                <div class="language">implemented in C++</div>
              </div>
              </a>
          </div>
          <div class="entry entry-git">
            <a href="https://github.com/TreyAmador">
              <div class="entry-image git-image"></div>
              <div class="entry-placard"></div>
              <div class="entry-headline">
                <div class="project">Github</div>
                <div class="language">see the code</div>
              </div>
              </a>
          </div>
        </div>
        <div class="right-col">
          <div class="col-padding"></div>
          <div class="entry entry-trader">
            <a href="/trader">
              <div class="entry-image trader-image"></div>
              <div class="entry-placard"></div>
              <div class="entry-headline">
                <div class="project">broncocorner.com</div>
                <div class="language">MEAN Stack website</div>
              </div>
              </a>
          </div>
          <div class="entry entry-robot">
            <a href="/robot">
              <div class="entry-image robot-image"></div>
              <div class="entry-placard"></div>
              <div class="entry-headline">
                <div class="project">Robotics Simulations</div>
                <div class="language">implemented in C++</div>
              </div>
              </a>
          </div>
          <div class="entry entry-asteroids">
            <a href="/asteroids">
              <div class="entry-image asteroids-image"></div>
              <div class="entry-placard"></div>
              <div class="entry-headline">
                <div class="project">Asteroids Clone</div>
                <div class="language">implemented in Java</div>
              </div>
              </a>
          </div>
        </div>
      </div>
      <div class="home-footer-wrapper">
        <div class="home-footer">
          &copy 2017 by Trey Amador
        </div>
      </div>
    </div>
  </body>
</html>