<!-- home page html -->


<div ng-controller="homeCtlr" class="home-page">
  <div class="home-wrapper">

    
    <div class="home-directory-outer">
      <nav class="home-directory">
        <a href="">game engine</a>
        <a href="">broncocorner</a>
        <a href="">robotic sim</a>
        <a href="">asteroids</a>
        <a href="">drum machine</a>
      </nav>
    </div>
    

    <div class="engine-entry entry-handle">
      <div class="engine-entry-image image-handle">
        <a href="">
          <div class="entry-placard"></div>
          <div class="entry-headline">a screenshot</div>
        </a>
      </div>
      <div class="entry-text">
        <span class="entry-title">engine</span>
        <span class="entry-description">c++ 2D platformer</span>
      </div>
    </div>


    <div class="trader-entry entry-handle">
      <div class="trader-entry-image image-handle">
        <a href="">
          <div class="entry-placard"></div>
          <div class="entry-headline">login screen</div>
        </a>
      </div>
      <div class="entry-text">
        <span class="entry-title">website</span>
        <span class="entry-description">a trading service for students</span>
      </div>
    </div>


    <div class="robot-entry entry-handle">
      <div class="robot-entry-image image-handle">
        <a href="">
          <div class="entry-placard"></div>
          <div class="entry-headline">a path planner</div>
        </a>
      </div>
      <div class="entry-text">
        <span class="entry-title">robotics</span>
        <span class="entry-description">c++ player/stage simulator</span>
      </div>
    </div>


    <div class="asteroids-entry entry-handle">
      <div class="asteroids-entry-image image-handle">
        <a href="">
          <div class="entry-placard"></div>
          <div class="entry-headline">screenshot</div>
        </a>
      </div>
      <div class="entry-text">
        <span class="entry-title">asteroids</span>
        <span class="entry-description">a java arcade game</span>
      </div>
    </div>

    
    <div class="drum-entry entry-handle">
      <div class="drum-entry-image image-handle">
        <a href="">
          <div class="entry-placard"></div>
          <div class="entry-headline">a path planner</div>
        </a>
      </div>
      <div class="entry-text">
        <span class="entry-title">robotics</span>
        <span class="entry-description">player/stage robot simulator</span>
      </div>
    </div>
    

    <div class="git-entry entry-handle">
      <div class="git-entry-image image-handle">
        <a href="">
          <div class="entry-placard"></div>
          <div class="entry-headline">see code</div>
        </a>
      </div>
      <div class="entry-text">
        <span class="entry-title">github</span>
        <span class="entry-description">profile TreyAmador</span>
      </div>
    </div>


    <div class="footer-outer">
      <div class="footer">
        <span>&copy Trey Amador</span>
        <span>made with MEAN stack and jQuery</span>
      </div>
    </div>


  </div>
</div>


<script src="../js/home.js"></script>


