<!-- home page html -->


<div ng-controller="homeCtlr" class="home-page">
  <div class="body-wrapper">


    <div class="git-entry entry-handle">
      <div class="git-entry-image image-handle">
        <a href="https://github.com/TreyAmador">
          <div class="entry-placard"></div>
          <div class="entry-headline">TreyAmador</div>
        </a>
      </div>
      <div class="entry-text">
        <span class="entry-title">github</span>
        <span class="entry-description">see code examples</span>
      </div>
    </div>


    <div class="engine-entry entry-handle">
      <div class="engine-entry-image image-handle">
        <a href="/demo">
          <div class="entry-placard"></div>
          <div class="entry-headline">C++ game engine</div>
        </a>
      </div>
      <div class="entry-text">
        <span class="entry-title">project</span>
        <span class="entry-description">sdl game engine</span>
      </div>
    </div>


  </div>
</div>


<script src="../js/home.js"></script>


