<!-- about page html -->


<div ng-controller="resumeCtlr" class="body-wrapper">

  <div class="resume-wrapper">
    <h1 class="header">Curriculum Vitae</h1>
    <h2 class="education">Education</h2>
    <div class="graduate">California State Polytechnic Univesity, Pomona</div>
    <div class="post-bacc">Palomar College</div>
    <div class="undergraduate">University of California, Riverside</div>
    <h2 class="experience">Projects and Experience</h2>
    <div class="engine">C++ Video Game Engine</div>
    <div class="corner">BroncoCorner university trading service</div>
    <div class="drumkit">C++ Drum Kit simulator</div>
    <h2 class="lang-util">Languages and Utilities</h2>
    <div class="languages">C/C++, Python, JavaScript, Java</div>
    <div class="utilities">NodeJS, ExpressJS, MongoDB, MySQL</div>
  </div>

  <div class="resume-links">
    <div class="resume" ng-click="open_pdf('resume')">
      <span>open pdf resume</span>
    </div>
    <div class="riverside" ng-click="open_pdf('riverside')">
      <span>open riverside transcript</span>
    </div>
    <div class="pomona" ng-click="open_pdf('pomona')">
      <span>open pomona transcript</span>
    </div>
    <div class="nih" ng-click="open_pdf('nih')">
      <span>open nih research</span>
    </div>
    <div class="ugrj" ng-click="open_pdf('ugrj')"><span>
      open undergraduate research</span>
    </div>
  </div>

</div>

<script src="../js/resume.js"></script>

