<!-- about page html -->


<div ng-controller="resumeCtlr" class="body-wrapper">


  <div class="resume-wrapper">
    <h1>Curriculum Vitae</h1>
    <h2>Education</h2>
    <div class="col-1">2016-present</div>
    <div class="col-2">California State Polytechnic Univesity, Pomona</div>
    <div class="col-1">2016-2015</div>
    <div class="col-2">Palomar College</div>
    <div class="col-1">2009-2013</div>
    <div class="col-2">University of California, Riverside</div>
    <h2>Projects and Experience</h2>
    <div class="col-1">2D Game Engine</div>
    <div class="col-2">
      A C++ 2 dimensional platformer engine.
      Inheritance hierarchy based on object's physical properties.
      Includes modules for player state, particle engine, graphics.
      Used Simple DirectMedia Layer for graphics.
    </div>
    <div class="col-1">Online Trading Service</div>
    <div class="col-2">
      A web service directed towards college students meant to 
      assist in buying and selling on campus. 
      Built with the MEAN stack (NodeJS, ExpressJS, MongoDB, AngularJS). 
      Available at broncocorner.com.
    </div>
    <div class="col-1">Rhythm Generator</div>
    <div class="col-2">
      A C++ drum kit simulator.
      Allows user to set tempo, measures, and beats per measure.
      Utilizes novel, logarithmic dynamic range compression algorithm 
      to prevent audio distortion. 
      Interface currently under construction.
    </div>
    <div class="col-1">Personal Website</div>
    <div class="col-2">
      This website was built with the MEAN stack and 
      makes heavy use of jQuery.
    </div>
    <h2>Languages and Utilities</h2>
    <div>C/C++, Python, JavaScript, Java</div>
    <div>NodeJS, ExpressJS, MongoDB, MySQL</div>
  </div>


  <br><br>
  <div class="resume-links">
    <div class="resume" ng-click="open_pdf('resume')">
      <span>open pdf resume</span>
    </div>
    <div class="riverside" ng-click="open_pdf('riverside')">
      <span>open riverside transcript</span>
    </div>
    <div class="pomona" ng-click="open_pdf('pomona')">
      <span>open pomona transcript</span>
    </div>
    <div class="nih" ng-click="open_pdf('nih')">
      <span>open nih research</span>
    </div>
    <div class="ugrj" ng-click="open_pdf('ugrj')"><span>
      open undergraduate research</span>
    </div>
  </div>

  <br><br>


  <div>Leave a message.</div>
  <form class="input-list">
    <div>
      <input type="text" ng-model="message.username" placeholder="Name">
    </div>
    <div>
      <input type="text" ng-model="message.subject" placeholder="Subject">
    </div>
    <div>
      <textarea ng-model="message.textbody" placeholder="Message"></textarea>
    </div>
    <div>
      <input type="text" ng-model="message.email" placeholder="E-mail (optional)">
    </div>
    <div>
      <input type="submit" ng-click="submit(message)" value="Send">
    </div>
  </form>
  <div>{{submission_result}}</div>

</div>

<script src="../js/resume.js"></script>

