<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
    <title>BroncoCorner | Trey Amador</title>
  </head>
  <body ng-app="personal">
    <header><% include ../partials/header.ejs %></header>
    <div class="demo-wrapper" ng-controller="demoCtrl">
      <div class="demo-media-wrapper">
        <div class="demo-media">
          <video class="demo-video" loop>
            <source src="../media/trader.mp4" type="video/mp4">
            Your browser does not support HTML5 video
          </video>
          <div class="playpause"></div>
        </div>
        <div class="demo-description">
          <div class="demo-header">
            Online trading service, known as BroncoCorner
          </div>
          <div class="demo-textbody">
            <p>
              BroncoCorner was created to give college students an online buying and 
              selling service. Classified ads or sites like craigslist allow similar 
              functionality, but are not local, occasionally untrustworth, and not 
              specific to the demands of this demographic. Users register with a Cal 
              Poly Pomona email account. Once joined, they can make posts ranging 
              from buying and selling goods, to recruiting local talent, to inquiring 
              about social events. The database can be searched for specific criteria. 
              Users can then respond to others using the private inboxing system. 
              The video above shows how a typical user may register, make a post, and 
              respond to other posts.
            </p>
            <p>
              The website was implemented using a MEAN Stack (node.js, Express, MongoDB, 
              and AngularJS). 
            </p>
          </div>
        </div>
      </div>
      <div class="demo-footer">
        <div class="demo-footer-inner">
          <span class="left-demo"></span>
          <span class="right-demo"></span>
        </div>
      </div>
    </div>
  </body>
</html>