

.opaque {
    opacity: 0.25;
}


.greyscale {
    filter: grayscale(1.0);
}

.image-features {
    position: relative;
    height: 700px;
    width: 700px;
}

.image01 {
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url("../img/01.jpg");
}

.image02 {
    background-image: url("../img/02.jpg");
}

.image03 {
    background-image: url("../img/03.jpg");
}

.image04 {
    background-image: url("../img/04.jpg");
}

.image05 {
    background-image: url("../img/05.jpg");
}


