/* the sticky stylesheet */
body {
    height: 3000px;
}
.navigation-container {
    margin: 0;
}
.banner {   /* this will be an image */
    font-size: 50px;
    height: 300px;
    width: 100%;
    background: blue;
}
.navigation-bar { /* actual navigation bar */
    height: 100px;
    width: 100%;
    background: yellow;
}
.fixed .navigation-bar {
    position: fixed;
    top: 0px;
    margin-bottom: 100px;
}
.place-hold {
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    float: left;
}