/* stylesheet for resume */

.about-wrapper {
    position: relative;
}

.self-description {
    position: relative;
    width: 70%; left: 15%;
    font-family: OpenSans, 'Times New Roman', Times, serif;
}

.self-portrait {
    position: relative;
    border-radius: 50%;
    width: 25em; height: 25em;
    margin: 0 auto;
    background-size: 25em 25em;
    background-image: url("../img/self-washed-out.jpg");
}

.description-wrapper {
    position: relative;
    font-size: 1.3em;
    top: 1em;
    width: 100%;
    clear: both;
}

.description-wrapper span {
    font-style: italic;
}

.col-1 {
    position: relative;
    float: left; clear: left;
    text-align: right;
    width: 48%;
    padding: 0 2% 0 0;
}

.col-2 {
    position: relative;
    float: right; clear: right;
    text-align: left;
    width: 48%;
    padding: 0 0 0 2%;
}

.resume-directory-wrapper {
    position: relative;
    top: 7em; left: 0;
    width: 100%; height: 100px;
    font-family: OpenSans, 'Times New Roman', Times, serif;
}

.resume-directory {
    position: relative;
    top: 0; right: 10%;
    width: 80%; height: 100%;
    text-align: right;
    float: right;
}

.resume-directory nav a {
    position: relative;
    padding: 1em;
    text-decoration: none;
    color: #555555;
    font-size: 1.2em;
    transition: color 500ms ease;
    -webkit-transition: color 500ms ease;
    cursor: pointer;
}
