/* stylesheet for resume */

.about-wrapper {
    position: relative;
    height: 1000px;
}

.introduction {
    position: relative;
    top: 3em;
    width: 75%;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.self-portrait {
    position: relative;
    border-radius: 50%;
    width: 30em;
    height: 30em;
    margin: 0 auto;
    background-size: 30em 30em;
    background-image: url("../img/self-washed-out.jpg");
}

.description-wrapper {
    position: relative;
    font-size: 1.3em;
    top: 1em;
    width: 100%;
    height: auto;
}

.description-wrapper span {
    font-style: italic;
}

.col-1 {
    position: relative;
    float: left;
    padding: 0 1% 0 1%;
    width: 48%;
    height: auto;
}

.col-2 {
    position: relative;
    float: right;
    padding: 0 1% 0 1%;
    width: 48%;
    height: auto;
}

.resume-directory {
    position: absolute;
    top: 53em;
    right: 10%;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.resume-directory nav a {
    padding: 1em;
    text-decoration: none;
    color: #000000;
    transition: color 500ms ease;
    -webkit-transition: color 500ms ease;
}

.resume {
    position: relative;
    top: 0em;
}

.riverside {
    position: relative;
    top: 1em;
}

.pomona {
    position: relative;
    top: 2em;
}

.nih {
    position: relative;
    top: 3em;
}

.ugrj {
    position: relative;
    top: 4em;
}
