/* stylesheet for resume */

.about-wrapper {
    position: relative;
    height: 1000px;
    clear: both;
}

.self-description {
    position: relative;
    top: 10em;
    width: 75%;
    margin: 0 auto;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: OpenSans, 'Times New Roman', Times, serif;
}

.self-portrait {
    position: relative;
    border-radius: 50%;
    width: 30em; height: 30em;
    margin: 0 auto;
    background-size: 30em 30em;
    background-image: url("../img/self-washed-out.jpg");
}

.description-wrapper {
    position: relative;
    font-size: 1.3em;
    top: 1em;
    width: 100%; height: auto;
}

.description-wrapper span {
    font-style: italic;
}

.col-1 {
    position: relative;
    float: left; text-align: right;
    width: 48%; height: auto;
    padding: 0 2% 0 0;
}

.col-2 {
    position: relative;
    float: right; text-align: left;
    width: 48%; height: auto;
    padding: 0 0 0 2%;
}

.resume-directory {
    position: relative;
    top: 0em; right: 10%;
    float: right;
    font-family: OpenSans, 'Times New Roman', Times, serif;
    height: 100px;
}

.resume-directory nav a {
    padding: 1em;
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    transition: color 500ms ease;
    -webkit-transition: color 500ms ease;
}

.resume {
    position: relative;
    top: 0em;
}

.nih {
    position: relative;
    top: 0em;
}

.ugrj {
    position: relative;
    top: 0em;
}

