/* stylesheet for navbar */

body {
	margin: 0; padding: 0;
	display: none;
}

@font-face {
	font-family: Dense;
	src: url('../media/Dense.otf');
}

@font-face {
	font-family: OpenSans;
	src: url("../media/OpenSans-Regular.ttf");
}

.navbar-header {	
	position: fixed;
	font-family: OpenSans, 'Times New Roman', Times, serif;
	background-color: #ffffff;
	height: 98px; width: 100%;
	top: 0; left: 0;
	z-index: 10;
}

.navbar-inner {
	position: relative;
	vertical-align: middle;
	line-height: 100px;
	height: 98px; width: 94%;
	left: 3%;
}

.navbar-shadow {
	position: relative;
	top: 0px; left: 3%;
	width: 94%; height: 2px;
	background-color: #dddddd;
	opacity: 0;
}

.subject-name {
	font-size: 1.8em;
	color: #000000;
	text-decoration: none;
	letter-spacing: 3px;
	float: left; clear: left;
}

.directory {
	float: right; clear: right;
	
}

.directory a {
	font-size: 1em;
	text-decoration: none;
	color: #666666;
	margin: 0.5em;
	font-weight: 100;
	transition: color 500ms ease;
	-webkit-transition: color 500ms ease;
}

.pointer {
	cursor: pointer;
}

.red-hover:hover {
	color: #ff5566;
}

.orange-hover:hover {
	color: #ff9944;
}

.yellow-hover:hover {
	color: #ffdd77;
}

.green-hover:hover {
	color: #88ee77;
}

.blue-hover:hover {
	color: #77ccee;
}

.purple-hover:hover {
	color: #aa88ff;
}
