

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport">
        <!-- change this to installed package later -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Trey Amador</title>
    </head>
    <body>
        <div class="jumbotron text-center">
            <span>Resume</span>
        </div>
    </body>
</html>



