
body {
  margin: 0px;
  background-color: beige;
}

@font-face {
    font-family: OpenSans;
    src: url("../deps/OpenSans-Regular.ttf");
}

.navbar-outer {
  position: fixed;
  height: 52px; width: 100%;
  top: 0px; left: 0px;
  margin: 0px; padding: 0px;
  overflow: hidden;
  background-color: #fff;
}

.navbar-outer .navbar-shadow {
  position: relative;
  height: 52px; width: 100%;
  top: 0px; left: 0px;
  margin: 0px; padding: 0px;
  opacity: 0.2;
  background-color: #000;
}

.navbar-outer .navbar-inner {
  position: relative;
  height: 50px; width: 94%;
  left: 3%;
  line-height: 50px;
  vertical-align: middle;
}

.navbar-outer .navbar-inner .navbar-home {
  float: left; clear: left;
}

.navbar-outer .navbar-inner .navbar-directory {
  float: right; clear: right;
}


.navbar-outer .navbar-inner span {
  padding: 50px 25px;
  width: 100%; height: 100%;
}

.navbar-outer .navbar-inner a {
  text-decoration: none;
  font-family: OpenSans, 'Times New Roman', Times, serif;
}

.navbar-outer .navbar-inner .navbar-home a {
  font-size: 1.8em;
  color: #000;
}

.navbar-outer .navbar-inner .navbar-directory a {
  font-size: 1.2em;
  color: #000;
}

.navbar-outer .navbar-inner span a:hover {
  color: #666;
}
